<div class="card mb-4">
    <div class="card-img-wrapper">
        <img class="card-img-top" src={{user.photoUrl}} alt="Card image cap">
        <ul class="list-inline member-icon animate text-center" style="margin-top: 15px">
            <li class="list-inline-item"> <button class="btn btn-primary" [routerLink]="['/members/', user.id]" routerLinkActive="router-link-active"><i class="fa fa-user icon"></i></button></li>
            <li class="list-inline-item"> <button class="btn btn-primary" (click)="sendLike(user.id)"><i class="fa fa-heart icon"></i></button></li>
            <li class="list-inline-item"> <button class="btn btn-primary"><i class="fa fa-envelope icon"></i></button></li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title mb-1 text-center">
            {{user.knownAs}}, {{user.age}}
        </h6>
        <ul class="list-inline member-icon animate text-center" style="margin-top: 15px">
            <li class="list-inline-item"> <button class="btn btn-primary"><i class="fa fa-user"></i></button></li>
            <li class="list-inline-item"> <button class="btn btn-primary"><i class="fa fa-heart"></i></button></li>
        </ul>
        <p class="card-text text-muted text-center" id="card-name">
            <i class="fa fa-user">  {{ user.knownAs}}</i>
        </p>
    </div>
</div>

<script>
    $(window).on('resize', function() {
        var win = $(this);
        if (win.width() > 600) {

            $('#123').addClass('btn-lg');

        } else {
            $('#123').removeClass('btn-lg');
        }
    });
</script>