<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">Dating App</a>

    <div *ngIf="loggedIn()">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/members']" routerLinkActive="router-link-active">Matches</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/lists']" routerLinkActive="router-link-active">Lists</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="router-link-active">Messages</a>
            </li>
        </ul>
    </div>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <button class="btn btn-secondary dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" dropdownToggle>
          Welcome {{authService.decodedToken?.unique_name}}
      </button>
        <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/members/edit']" routerLinkActive="router-link-active">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
    </div>
    <span *ngIf="loggedIn()"><img src={{photoUrl}} /></span>
    <form *ngIf="!loggedIn()" id="myForm" #loginForm="ngForm" class="form-inline" (ngSubmit)="login()">
        <input class="form-control mr-lg-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
        <input class="form-control mr-lg-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid
      " class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>

</nav>